body {
	padding-top: 120px;
}
@media (max-width: 979px) {
	body {
		padding-top: 40px;
	}

	#mobile {
		font-size: 2rem;
		color: #081a34;
	}
}

h1 {
	color: #081a34;
}

h4 {
	color: #081a34;
}

.container {
	margin-bottom: 3em;
}

.date {
	font-weight: 400;
	font-size: 1.3rem;
	color: #081a34;
}

.bordure {
	border-left: 5px solid #bdc3c7;
	padding-left: 10px;
}

.ancre {
	padding-top: 160px;
	margin-top: -160px;
}

.row {
	color: #081a34;
}

#nom {
	font-weight: 500;
	font-size: 1.5rem;
}

.hover-underline-animation {
	display: inline-block;
	position: relative;
	color: #081a34;
}
.hover-underline-animation::after {
	content: '';
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: #081a34;
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
}
.hover-underline-animation:hover::after {
	transform: scaleX(1);
	transform-origin: bottom left;
}

.sibling-fade:hover li:not(:hover) {
	opacity: 0.5;
}

.back-to-top {
	cursor: pointer;
	position: fixed;
	bottom: 20px;
	right: 5px;
	display: none;
}

.back-to-top .fa-chevron-up {
	color: #081a34;
}
