---
layout: default
title: À propos
permalink: /apropos.html
---

    <!--DESCRIPTION-->
    <div id="description" class="container mt-5">
        <div class="row">
            <div class="col-md-3">
                <img src="assets/photo.webp" class="img-thumbnail rounded"
                    alt="Dessin représentant l'auteur du site, Arnaud Ferriere, dans et au dessus de nuages, entouré de serveurs informatique">
            </div>
            <div class="col-md-9">
                <h2>Qui suis-je ?</h2>
                <p>Je suis tombé dans l'informatique tout petit avec un bon vieux 286 sur MS-DOS 6.22. J'ai grandi avec
                    et suivi toutes les évolutions depuis, en passant par Windows 95 et ses 50 disquettes d'installation
                    (jamais dans le même ordre !) jusqu'au développement actuel des IA... et de tout ce qui viendra !
                    <br />
                    Aujourd'hui, je suis consultant et Administrateur systèmes spécialisé dans la gestion des identités
                    et les environnements hybrides Active Directory - Entra ID et les outils collaboratifs Microsoft
                    365.
                    A côté de ça j'ai développé mes compétences en automatisation sur la Power Platform de Microsoft et
                    PowerShell, me permettant de contribuer à des projets où l'innovation et l'amélioration continue
                    sont des priorités.<br />
                    J'ai beaucoup appris en ligne et j'ai créé ce site pour essayer de contribuer, à mon tour et à ma
                    façon, à partager mon expérience.

                </p>
                <h5>J'espère vous retrouver bientôt, sur les nuages ! - Arnaud FERRIERE</h5>
            </div>
        </div>
    </div>

    <!--CERTIFICATIONS-->
    <div id="certifications" class="container mt-5">
        <div class="section-header">
            <button class="toggle-section-btn btn btn-link" aria-label="Toggle Certifications section"
                aria-expanded="true">
                <i class="fas fa-chevron-up"></i>
            </button>
            <h1 class="hover-underline-animation">Certifications</h1>
        </div>
        <div class="section-content">
            <div class="certifications-grid">
                {% for cert in site.data.certifications %}
                <div class="card">
                    <div class="card-icon">
                        <img src="{{ cert.badge }}" alt="{{ cert.name }} badge">
                    </div>
                    <div class="card-body">
                        <h4>{{ cert.name }}</h4>
                        <h6>{{ cert.date }}</h6>
                        <a href="{{ cert.url }}"
                            target="_blank" rel="noopener noreferrer" class="cert-link">Voir la certification <i
                                class="fa-solid fa-square-up-right" aria-hidden="true"></i>
                            <span class="sr-only">(ouvre la page de la certification {{ cert.name }})</span></a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>

    <!--SKILLS-->
    <div id="skills" class="container mt-5">
        <div class="section-header">
            <button class="toggle-section-btn btn btn-link" aria-label="Toggle Skills section" aria-expanded="true">
                <i class="fas fa-chevron-up"></i>
            </button>
            <h1 class="hover-underline-animation">Compétences techniques</h1>
        </div>
        <div class="section-content stacked-cards">
            <div class="stacked-card">
                <table class="table table-striped">
                    <thead>
                        <tr>
                            <th onclick="sortTable(0, this)" id="comp-header">Compétence <i
                                    class="sort-arrow fas fa-chevron-up"></i></th>
                            <th onclick="sortTable(1, this)" id="niveau-header">Niveau <i
                                    class="sort-arrow fas fa-chevron-up"></i></th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for skill in site.data.skills %}
                        <tr>
                            <td>{{ skill.name }}</td>
                            <td>{{ skill.level }}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!--EXPERIENCES CARDS-->
    <div id="stacked-experiences" class="container mt-5">
        <div class="section-header">
            <button class="toggle-section-btn btn btn-link" aria-label="Toggle Stacked Expériences section"
                aria-expanded="true">
                <i class="fas fa-chevron-up"></i>
            </button>
            <h1 class="hover-underline-animation">Expériences professionnelles</h1>
        </div>
        <div class="section-content stacked-cards">
            {% for exp in site.data.experiences %}
            <div class="stacked-card">
                <!-- Section du poste -->
                <div class="poste-section">
                    <div class="poste-header">
                        <img src="{{ exp.logo }}" alt="Logo {{ exp.company }}" class="poste-logo">
                        <h4 class="poste-title"><strong>{{ exp.period }} : </strong> {{ exp.title }}</h4>
                    </div>
                    <p class="poste-description">{{ exp.description }}</p>
                </div>

                {% if exp.missions %}
                <!-- Séparateur -->
                <hr class="section-separator">

                <!-- Section Missions -->
                <div class="missions-section">
                    <h5 class="missions-title">Missions :</h5>
                    {% for mission in exp.missions %}
                    <div class="mission">
                        <div class="mission-header">
                            <img src="{{ mission.logo }}" alt="Logo {{ mission.client }}" class="mission-logo">
                            <h5 class="mission-title"><strong>{{ mission.period }} : </strong> {{ mission.client }}</h5>
                        </div>

                        <div class="mission-description">
                            <p>
                                <strong>Contexte Projet / Service :</strong>
                                {{ mission.context }}
                            </p>

                            <p><br /><strong>Responsabilités / Missions :</strong></p>

                            <ul>
                                {% for resp in mission.responsibilities %}
                                <li>
                                    {{ resp.category }} :
                                    <ul>
                                        {% for item in resp.items %}
                                        <li>{{ item }}</li>
                                        {% endfor %}
                                    </ul>
                                </li>
                                {% endfor %}
                            </ul>

                            <p><br />
                                <strong>Environnement technique / Technologies principales utilisées :</strong>
                                {{ mission.tech }}
                            </p>
                        </div>
                    </div>
                    {% endfor %}
                </div>
                {% endif %}

                {% if exp.context %}
                <div class="mission-description">
                    <p>
                        <strong>Contexte Projet / Service :</strong>
                        {{ exp.context }}
                    </p>

                    <p><br /><strong>Responsabilités / Missions :</strong></p>

                    <ul>
                        {% for resp in exp.responsibilities %}
                        <li>
                            {{ resp.category }} :
                            <ul>
                                {% for item in resp.items %}
                                <li>{{ item }}</li>
                                {% endfor %}
                            </ul>
                        </li>
                        {% endfor %}
                    </ul>

                    <p><br />
                        <strong>Environnement technique / Technologies principales utilisées :</strong>
                        {{ exp.tech }}
                    </p>
                </div>
                {% endif %}

                {% if exp.key_skills %}
                <div class="mission-description">
                    <p><br /><strong>Compétences clés :</strong></p>
                    <ul>
                        {% for skill in exp.key_skills %}
                        <li>{{ skill }}</li>
                        {% endfor %}
                    </ul>
                </div>
                {% endif %}
            </div>
            {% endfor %}
        </div>
    </div>


    <div id="applied-skills" class="container mt-5">
        <div class="section-header">
            <button class="toggle-section-btn btn btn-link" aria-label="Toggle Formations section" aria-expanded="true">
                <i class="fas fa-chevron-up"></i>
            </button>
            <h1 class="hover-underline-animation">Compétences Appliquées</h1>
        </div>
        <div class="section-content">
            <div class="applied-skills-grid">
                {% for skill in site.data.applied_skills %}
                <div class="card">
                    <div class="card-icon">
                        <img src="assets/applied-skill.svg" alt="{{ skill.name }} badge">
                    </div>
                    <div class="card-body">
                        <h4>{{ skill.name }}</h4>
                        <a href="{{ skill.url }}"
                            target="_blank" rel="noopener noreferrer" class="cert-link">Voir la certification <i
                                class="fa-solid fa-square-up-right" aria-hidden="true"></i>
                            <span class="sr-only">(ouvre la page de la certification)</span></a>
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>

    </div>

    <div id="formations" class="container mt-5">
        <div class="section-header">
            <button class="toggle-section-btn btn btn-link" aria-label="Toggle Formations section" aria-expanded="true">
                <i class="fas fa-chevron-up"></i>
            </button>
            <h1 class="hover-underline-animation">Formations</h1>
        </div>
        <div class="section-content stacked-cards">
            <div class="stacked-card">
                <div class="stacked-card-body">
                    <ul>
                        {% for f in site.data.formations %}
                        <li><strong>{{ f.year }} :</strong> {{ f.name }}{% if f.url %} - <a
                                href="{{ f.url }}"
                                target="_blank" rel="noopener noreferrer" class="cert-link">{{ f.link_text }} <i
                                    class="fa-solid fa-square-up-right" aria-hidden="true"></i></a>{% endif %}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>



    <div id="langues" class="container mt-5">
        <div class="section-header">
            <button class="toggle-section-btn btn btn-link" aria-label="Toggle Langues section" aria-expanded="true">
                <i class="fas fa-chevron-up"></i>
            </button>
            <h1 class="hover-underline-animation">Langues</h1>
        </div>
        <div class="section-content stacked-cards">
            <div class="stacked-card">
                <div class="stacked-card-body">
                    {% for lang in site.data.languages %}
                    <img width="48" height="48" src="{{ lang.flag }}" alt="{{ lang.name }}" />
                    <strong>{{ lang.name }} :</strong> {{ lang.level }}{% if lang.url %} - <a
                        href="{{ lang.url }}"
                        target="_blank" rel="noopener noreferrer" class="cert-link">{{ lang.link_text }} <i
                            class="fa-solid fa-square-up-right" aria-hidden="true"></i></a>{% endif %}<br />
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>


    <div id="interets" class="container mt-5">
        <div class="section-header">
            <button class="toggle-section-btn btn btn-link" aria-label="Toggle Centres d'intérêt section"
                aria-expanded="true">
                <i class="fas fa-chevron-up"></i>
            </button>
            <h1 class="hover-underline-animation">Centres d'Intérêt</h1>
        </div>
        <div class="section-content stacked-cards">
            <div class="stacked-card">
                <div class="stacked-card-body">
                    <p>
                        <span class="interest" data-image="assets/cuisine.webp">Cuisine</span>,
                        <span class="interest" data-image="assets/jardinage.webp">jardinage d'intérieur
                            (hydroponie)</span>...
                        <span class="interest" data-image="assets/jardinageexterieur.webp"> et d'extérieur</span>,
                        <span class="interest" data-image="assets/menuiserie.webp">menuiserie (ébénisterie)</span>.
                    </p>

                </div>


            </div>
        </div>
    </div>

    <!-- Modal Bootstrap pour afficher les images des intérêts en grand -->
    <div class="modal fade" id="imageModal" tabindex="-1" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg">
            <div class="modal-content position-relative">
                <div class="modal-body p-0">
                    <img id="modalImage" src="" alt="Image agrandie" class="img-fluid">
                </div>
            </div>
        </div>
    </div>


    <!--Arrow to hide a section-->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            var toggleButtons = document.querySelectorAll('.toggle-section-btn');

            toggleButtons.forEach(function (button) {
                var section = button.closest('.container');
                var content = section.querySelector('.section-content');
                var title = section.querySelector('h1');

                function toggleContent() {
                    if (content.classList.contains('hidden')) {
                        content.classList.remove('hidden');
                        button.innerHTML = '<i class="fas fa-chevron-up"></i>';
                        button.setAttribute('aria-expanded', 'true');

                        // Pour permettre une animation fluide, on fixe d'abord la hauteur à ce qu'elle serait
                        content.style.height = content.scrollHeight + "px";

                        // Après la transition, on remet la hauteur à 'auto' pour l'ajuster aux futurs contenus
                        content.addEventListener('transitionend', function handler() {
                            content.style.height = 'auto';
                            content.removeEventListener('transitionend', handler);
                        });
                    } else {
                        button.innerHTML = '<i class="fas fa-chevron-down"></i>';
                        button.setAttribute('aria-expanded', 'false');

                        // Pour fermer, on calcule d'abord la hauteur actuelle puis on la ramène à 0
                        content.style.height = content.scrollHeight + "px";
                        requestAnimationFrame(() => {
                            content.style.height = "0";
                        });

                        content.classList.add('hidden');
                    }
                }


                button.addEventListener('click', toggleContent);
                title.addEventListener('click', toggleContent);
            });
        });

    </script>

    <!--Table sorting-->
    <script>
        function sortTable(n, header) {
            var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
            table = document.querySelector(".table");
            switching = true;
            // Set the sorting direction to ascending by default:
            dir = header.getAttribute("data-dir") === "desc" ? "asc" : "desc";

            // Remove active sort indicators from all columns
            const headers = document.querySelectorAll("th");
            headers.forEach(h => {
                h.setAttribute("data-dir", "");
                h.querySelector(".sort-arrow").classList.remove("fa-chevron-down");
                h.querySelector(".sort-arrow").classList.add("fa-chevron-up"); // Reset all arrows to up
            });

            // Set the active sort indicator for the clicked header
            header.setAttribute("data-dir", dir);
            if (dir === "asc") {
                header.querySelector(".sort-arrow").classList.remove("fa-chevron-down");
                header.querySelector(".sort-arrow").classList.add("fa-chevron-up");
            } else {
                header.querySelector(".sort-arrow").classList.remove("fa-chevron-up");
                header.querySelector(".sort-arrow").classList.add("fa-chevron-down");
            }

            while (switching) {
                switching = false;
                rows = table.rows;
                // Loop through all rows except the first (header):
                for (i = 1; i < (rows.length - 1); i++) {
                    shouldSwitch = false;
                    // Compare the two elements in the given column:
                    x = rows[i].getElementsByTagName("TD")[n];
                    y = rows[i + 1].getElementsByTagName("TD")[n];
                    // Check if the rows should switch place based on direction:
                    if (dir == "asc") {
                        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                            shouldSwitch = true;
                            break;
                        }
                    } else if (dir == "desc") {
                        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                            shouldSwitch = true;
                            break;
                        }
                    }
                }
                if (shouldSwitch) {
                    // Make the switch and mark that a switch has been made:
                    rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
                    switching = true;
                    switchcount++;
                }
            }
        }
    </script>


    <!-- Script images intérêts-->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            // Crée un élément img pour afficher l'image en survol
            const hoverImage = document.createElement('img');
            hoverImage.classList.add('hover-image');
            document.body.appendChild(hoverImage);

            // Détection des appareils mobiles
            function isMobileDevice() {
                return window.innerWidth <= 768; // Vous pouvez ajuster la largeur selon votre définition de "mobile"
            }

            // Sélectionne tous les éléments avec la classe interest
            const interests = document.querySelectorAll('.interest');

            interests.forEach(interest => {
                // Affichage de l'image au survol
                interest.addEventListener('mouseover', (event) => {
                    if (isMobileDevice()) return;
                    const imageUrl = interest.getAttribute('data-image');
                    hoverImage.src = imageUrl;
                    hoverImage.style.display = 'block';
                });

                interest.addEventListener('mousemove', (event) => {
                    if (isMobileDevice()) return;
                    hoverImage.style.top = (event.clientY + 20) + 'px';
                    hoverImage.style.left = (event.clientX + 20) + 'px';
                });

                interest.addEventListener('mouseout', () => {
                    if (isMobileDevice()) return;
                    hoverImage.style.display = 'none';
                });

                // Affichage du modal en cliquant sur l'élément
                interest.addEventListener('click', (event) => {
                    event.preventDefault();
                    const imageUrl = interest.getAttribute('data-image');
                    // Mise à jour de l'image dans le modal
                    document.getElementById('modalImage').src = imageUrl;
                    // Afficher le modal (en supposant que Bootstrap JS est chargé)
                    var modal = new bootstrap.Modal(document.getElementById('imageModal'));
                    modal.show();
                });
            });

            // Cacher l'image de survol si la fenêtre est redimensionnée sur mobile
            window.addEventListener('resize', () => {
                if (isMobileDevice()) {
                    hoverImage.style.display = 'none';
                }
            });
        });
    </script>
