<!-- Back to top button -->
<div id="back-to-top" role="button" aria-label="Retour en haut de page"><i class="fas fa-chevron-up" aria-hidden="true"></i></div>

<script>
    document.addEventListener('DOMContentLoaded', function () {
        var backToTopButton = document.getElementById('back-to-top');

        window.onscroll = function () {
            if (document.body.scrollTop > 100 || document.documentElement.scrollTop > 100) {
                backToTopButton.classList.add('show');
            } else {
                backToTopButton.classList.remove('show');
            }
        };

        backToTopButton.onclick = function () {
            window.scrollTo({
                top: 0,
                behavior: 'smooth'
            });
        };
    });
</script>
