<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "Person",
  "@id": "{{ site.url }}{{ site.data.author.person_id_path }}",
  "name": {{ site.data.author.name | jsonify }},
  "url": "{{ site.url }}/about/",
  "image": "{{ site.data.author.photo | absolute_url }}",
  "jobTitle": {{ site.data.author.role | jsonify }},
  "description": {{ site.data.author.tagline | jsonify }},
  "knowsAbout": {{ site.data.expertise | jsonify }},
  "sameAs": [
    {{ site.data.author.linkedin | jsonify }},
    {{ site.data.author.github | jsonify }}
  ]
}
</script>
