<nav class="navbar fixed-top navbar-expand-lg">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
        aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <a class="navbar-brand" href="{{ '/' | relative_url }}"><i class="fas fa-cloud" aria-hidden="true"></i> Sur les nuages</a>

    <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link hover-underline-animation" href="{{ '/' | relative_url }}">Accueil</a>
            </li>
        </ul>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link hover-underline-animation" href="{{ '/articles/' | relative_url }}">Articles</a>
            </li>
        </ul>
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link hover-underline-animation" href="{{ '/apropos.html' | relative_url }}">À propos</a>
            </li>
        </ul>
        <ul class="navbar-nav ms-auto mt-2 mt-lg-0">
            <li class="nav-item">
                <a class="nav-link" href="https://www.linkedin.com/in/ferrierearnaud/" target="_blank"
                    title="LinkedIn" rel="noopener noreferrer">
                    <i class="fab fa-linkedin"></i><span class="sr-only">(ouvre ma page LinkedIn)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="https://github.com/Arnaud-Ferriere" target="_blank" title="GitHub"
                    rel="noopener noreferrer">
                    <i class="fab fa-github"></i><span class="sr-only">(ouvre ma page GitHub)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#97;&#114;&#110;&#46;&#102;&#101;&#114;&#64;&#103;&#109;&#97;&#105;&#108;&#46;&#99;&#111;&#109;" title="Envoyer un e-mail"
                    rel="noopener noreferrer">
                    <i class="fas fa-envelope"></i><span class="sr-only">(ouvre l'application de mail pour m'envoyer
                        un mail)</span>
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{{ '/feed.xml' | relative_url }}" title="Flux RSS" rel="noopener noreferrer">
                    <i class="fas fa-rss"></i><span class="sr-only">(flux RSS du blog)</span>
                </a>
            </li>
        </ul>
    </div>
</nav>
