/* Pagination */
.page-link {
  color: var(--color-secondary);
  font-weight: 600;
  white-space: nowrap;
}

.page-item.active .page-link {
  background-color: var(--color-secondary);
  border-color: var(--color-secondary);
  color: #fff;
}

.page-link:hover {
  color: var(--color-primary);
}
